<!-- Page Wrapper -->
<div id="wrapper">

  <div class="scroll">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar-bg sidebar sidebar-dark accordion" id="sidebar">

      <!-- Sidebar Title -->
      <div class="sidebar-title align-items-center justify-content-center">
        <span class="sidebar-title-text">Tool Board</span>
      </div>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Text Style -->
      <div class="sidebar-heading">
        Text Style
      </div>
      <li class="nav-item active">
        <div style="padding: 0.5rem 1rem; display: block;">
          <!-- <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a> -->
          <span title="Bold">
            <button class="btn-light" data-edit="bold">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-type-bold" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.21 13c2.106 0 3.412-1.087 3.412-2.823 0-1.306-.984-2.283-2.324-2.386v-.055a2.176 2.176 0 0 0 1.852-2.14c0-1.51-1.162-2.46-3.014-2.46H3.843V13H8.21zM5.908 4.674h1.696c.963 0 1.517.451 1.517 1.244 0 .834-.629 1.32-1.73 1.32H5.908V4.673zm0 6.788V8.598h1.73c1.217 0 1.88.492 1.88 1.415 0 .943-.643 1.449-1.832 1.449H5.907z" />
              </svg>
            </button>
          </span>

          <span title="Italic">
            <button class="btn-light" data-edit="italic">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-type-italic" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.991 11.674L9.53 4.455c.123-.595.246-.71 1.347-.807l.11-.52H7.211l-.11.52c1.06.096 1.128.212 1.005.807L6.57 11.674c-.123.595-.246.71-1.346.806l-.11.52h3.774l.11-.52c-1.06-.095-1.129-.211-1.006-.806z" />
              </svg>
            </button>
          </span>

          <span title="Underline">
            <button class="btn-light" data-edit="underline">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-type-underline" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.313 3.136h-1.23V9.54c0 2.105 1.47 3.623 3.917 3.623s3.917-1.518 3.917-3.623V3.136h-1.23v6.323c0 1.49-.978 2.57-2.687 2.57-1.709 0-2.687-1.08-2.687-2.57V3.136z" />
                <path fill-rule="evenodd" d="M12.5 15h-9v-1h9v1z" />
              </svg>
            </button>
          </span>

          <span title="Strikethrough">
            <button class="btn-light" data-edit="strikeThrough">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-type-strikethrough" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.527 13.164c-2.153 0-3.589-1.107-3.705-2.81h1.23c.144 1.06 1.129 1.703 2.544 1.703 1.34 0 2.31-.705 2.31-1.675 0-.827-.547-1.374-1.914-1.675L8.046 8.5h3.45c.468.437.675.994.675 1.697 0 1.826-1.436 2.967-3.644 2.967zM6.602 6.5H5.167a2.776 2.776 0 0 1-.099-.76c0-1.627 1.436-2.768 3.48-2.768 1.969 0 3.39 1.175 3.445 2.85h-1.23c-.11-1.08-.964-1.743-2.25-1.743-1.23 0-2.18.602-2.18 1.607 0 .31.083.581.27.814z" />
                <path fill-rule="evenodd" d="M15 8.5H1v-1h14v1z" />
              </svg>
            </button>
          </span>

          <span title="Remove format">
            <button class="btn-light" data-edit="removeFormat">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-code-slash" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0zm-.999-3.124a.5.5 0 0 1 .33.625l-4 13a.5.5 0 0 1-.955-.294l4-13a.5.5 0 0 1 .625-.33z" />
              </svg>
            </button>
          </span>

          <span title="Extra Small size">
            <button style="width:2.5em; height:2em" class="btn-light" data-edit="fontSize:1">XS</button>
          </span>

          <span title="Small size">
            <button style="width:2.5em; height:2em" class="btn-light" data-edit="fontSize:2">S</button>
          </span>

          <span title="Middle size">
            <button style="width:2.5em; height:2em" class="btn-light" data-edit="fontSize:3">M</button>
          </span>

          <span title="Large size">
            <button style="width:2.5em; height:2em" class="btn-light" data-edit="fontSize:4">L</button>
          </span>

          <span title="Heading1">
            <button style="width:2.5em; height:2em" class="btn-light" data-edit="fontSize:7">H1</button>
          </span>

          <span title="Heading2">
            <button style="width:2.5em; height:2em" class="btn-light" data-edit="fontSize:6">H2</button>
          </span>

          <span title="Heading3">
            <button style="width:2.5em; height:2em" class="btn-light" data-edit="fontSize:5">H3</button>
          </span>

          <span title="Paragraph">
            <button style="width:2.5em; height:2em" class="btn-light" data-edit="fontSize:3">P</button>
          </span>
          <!-- Haven't finished: Font foreColor, Text font, Text style(?) -->
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Paragraph Style -->
      <div class="sidebar-heading">
        Paragraph
      </div>
      <li class="nav-item active">
        <div style="padding: 0.5rem 1rem; display: block;">

          <span title="Unordered list">
            <button class="btn-light" data-edit="insertUnorderedList">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
              </svg>
            </button>
          </span>

          <span title="Ordered list">
            <button class="btn-light" data-edit="insertOrderedList">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list-ol" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z" />
                <path
                  d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z" />
              </svg>
            </button>
          </span>

          <span title="Left alignment">
            <button class="btn-light" data-edit="justifyLeft">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-left" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
              </svg>
            </button>
          </span>

          <span title="Align to center">
            <button class="btn-light" data-edit="justifyCenter">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-center" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
              </svg>
            </button>
          </span>

          <span title="Right alignment">
            <button class="btn-light" data-edit="justifyRight">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
              </svg>
            </button>
          </span>

        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Addons -->
      <div class="sidebar-heading">
        Addons
      </div>

      <li class="nav-item">
        <div class="py-2">
          <button class="btn nav-link" onclick="addField()" style="padding: 2px 2px; padding-left: 1.05rem;">
            <span>+ Text Field</span>
          </button>
        </div>
        <button type="button" class="btn nav-link" onclick="showAddPageWindow()"
          style="padding: 2px 2px; padding-left: 1.05rem;">
          <span>+ Page</span>
        </button>
        <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
          </div>
        </div> -->
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Upload -->
      <div class="sidebar-heading">
        Upload
      </div>

      <li class="nav-item">
        <div class="py-2">
          <button class="btn nav-link" onclick="showUploadModal('uploadDocModal')"
            style="padding: 2px 2px; padding-left: 1.05rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
              <path
                d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z" />
              <path
                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg>
            <span>Document</span>
          </button>
        </div>
        <button class="btn nav-link" onclick="showUploadModal('uploadImgModal')"
          style="padding: 2px 2px; padding-left: 1.05rem;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image"
            viewBox="0 0 16 16">
            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            <path
              d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
          </svg>
          <span>Image</span>
        </button>
        <div class="py-2">

          <!-- <button type="button" class="btn nav-link" onclick="uploadVideo()"
            style="padding: 2px 2px; padding-left: 1.05rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-camera-reels" viewBox="0 0 16 16">
              <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z" />
              <path
                d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z" />
              <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
            </svg>
            <span>Video</span>
          </button>
        </div>
        <button class="btn nav-link" onclick="" style="padding: 2px 2px; padding-left: 1.05rem;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link"
            viewBox="0 0 16 16">
            <path
              d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
            <path
              d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
          </svg>
          <span>Hyperlink</span>
        </button> -->
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Nav Item - Delete -->
      <div class="sidebar-heading">
        Delete
      </div>

      <li class="nav-item">
        <div class="py-2">
          <button type="button" class="btn nav-link" id="deleteField-btn" onclick="deleteBtn(this)"
            style="padding: 2px 2px; padding-left: 1.05rem;">
            <span>- Textfield / Document / Image</span>
          </button>
        </div>
        <button type="button" class="btn nav-link" onclick="showDeletePageWindow()"
          style="padding: 2px 2px; padding-left: 1.05rem;">
          <span>- Page</span>
        </button>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Buttton -->
      <div>
        <button onclick="saveContent('<%= req.session.userID %>')" class="btn btn-danger"
          style="width: 100%">Save</button>
      </div>

      <div class="py-2">
        <button onclick="showSubmitAlert()" class="btn btn-warning" style="width: 100%">Submit</button>
      </div>

      <% if (req.session.CV !='' ){ %>
        <div>
          <button onclick="showDeleteAlert()" class="btn btn-dark" style="width: 100%">Delete</button>
        </div>
        <% } %>
    </ul>
  </div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper-->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Content -->
    <div id="content" class="container-fluid container">

      <!-- Content position -->
      <div style="position:absolute; left:268px; top:90px; height: 400px; width:980px;">
        <!--  Due to sidebar, cannot use col *height is useless but cannot without it -->

        <form>
          <!-- A hidden input for storing CV content and send to db -->
          <input name="User[CV]" id="formInput" type="hidden">

          <!-- The CV content -->
          <div id="CVContent">
            <!-- if the user has not created any CV yet -->
            <% if (req.session.CV=='' && req.session.reloadCV=='' ){ %>
              <div class="cotainer">
                <div class="row">

                  <!-- Fieldbar -->
                  <div class="col-sm-2">
                    <ul id="fieldbar" class="ul-noBullet py-3">
                        <!-- Basic Info Button -->
                        <li id="Basic Informationbtn" class="nav-item mx-1 py-1">
                            <button type="button" value="Basic Information"
                                class="btn content-btn fieldbar" onclick="showContent(this.value)">
                                <b style="color: navy">Basic Information</b>
                            </button>
                        </li>

                        <!-- Education Button -->
                        <li id="Educationbtn" class="nav-item mx-1 py-1">
                            <button type="button" value="Education" class="btn content-btn fieldbar"
                                onclick="showContent(this.value)">
                                <b style="color: navy">Education</b>
                            </button>
                        </li>

                        <!-- Work experience -->
                        <li id="Work Experiencebtn" class="nav-item mx-1 py-1">
                            <button type="button" value="Work Experience"
                                class="btn content-btn fieldbar" onclick="showContent(this.value)">
                                <b style="color: navy">Work Experience</b>
                            </button>
                        </li>

                        <!-- Skill -->
                        <li id="Skillbtn" class="nav-item mx-1 py-1">
                            <button type="button" value="Skill" class="btn content-btn fieldbar"
                                onclick="showContent(this.value)">
                                <b style="color: navy">Skill</b>
                            </button>
                        </li>

                        <!-- Language -->
                        <li id="Languagebtn" class="nav-item mx-1 py-1">
                            <button type="button" value="Language" class="btn content-btn fieldbar"
                                onclick="showContent(this.value)">
                                <b style="color: navy">Language</b>
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- End of Fieldbar -->

                 <!-- Main Content -->
                 <div id="main" class="col-sm-10">
                  <div style="transform: translate(0px, 0px);" id="Basic Information"
                      class="animate__animated animate__fadeInRight new-page card shadow mb-4 resize-only">

                      <div class="container field py-3 resize-drag" style="font-size: 2rem; color: rgb(0, 0, 0);" contenteditable="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                              fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                              <path
                                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                          </svg>
                          <b>About Me</b>
                      </div>

                      <div class="container field">
                          <div class="row resize-drag">
                            <div class="py-2"></div>
                              <div class="col-sm-4 py-5">
                                  <img class="rounded-circle resize-drag" style="height: auto; width: 230px;"
                                      src="/images/avatar.png" contenteditable="">
                              </div>

                              <div class="col-sm-8" contenteditable style="color: black;">

                                  <h1>Hello,</h1>
                                  <p>I am Mimi. I am an applicant who is looking for a job related to
                                      the
                                      area of <b style="color: navy;">Information Technology</b>.
                                      I want to work as a <b style="color: navy">Programmer</b>. Hope
                                      I
                                      will have a chance to work with you!!!:)
                                  </p><br>

                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color:rgb(0, 4, 255)" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>English Full Name: </b>Chan Ting
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color: rgb(0, 4, 255);" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>Nick Name: </b>Mimi<br>

                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color:rgb(0, 4, 255)" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>Chinese Full Name: </b>陳婷
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  &nbsp;
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color:rgb(0, 4, 255)" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>Sex: </b>Female<br>

                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color:rgb(0, 4, 255)" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>Birth Date: </b>30/08/1998
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  &nbsp; &nbsp;
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color:rgb(0, 4, 255)" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>Email: </b>ting@gmail.com<br>

                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color:rgb(0, 4, 255)" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>Country Code: </b>852
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color:rgb(0, 4, 255)" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>Mobile Phone: </b>1234 5678<br>

                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color:rgb(0, 4, 255)" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>Personal website: </b><a href="https://www.w3schools.com/"
                                      style="color:#4e73df">Visit W3Schools.com!</a><br>

                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      style="color:rgb(0, 4, 255)" fill="currentColor"
                                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                  </svg>
                                  <b>Address: </b>8 Fl., Block 1, Happy Estate, Causeway Bay. Hong
                                  Kong<br>

                              </div>
                          </div>
                      </div>
                      <div class="py-4"></div>
                  </div>


                  <div style="display: none;" id="Education"
                      class="animate__animated animate__fadeInRight new-page card shadow mb-4 resize-only">

                      <div class="container field py-3 resize-drag" style="font-size: 2rem; color: black;" contenteditable="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                              fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                              <path
                                  d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                          </svg>
                          <b>Education</b>
                      </div>

                      <div class="container field">
                          <div class="row resize-drag">
                              <div class="col-sm-12" contenteditable>

                                  <div class="timeline ml-2" style="color: black;">
                                      <div class="timeline__group">
                                          <span class="timeline__date time" aria-hidden="true">
                                              2008/2 - 2009/3
                                          </span>
                                          <div class="timeline__cards">
                                              <div class="timeline__card timelineCard">
                                                  <header class="card__header">
                                                      <span class="time" style="font-size:medium">
                                                          ABC Secondary School
                                                      </span>
                                                  </header>
                                                  <div class="py-2"></div>
                                                  <div class="card__content">
                                                      <p><b>Degree / School Result: </b>
                                                          chinese: 4, english: 4, mathmatics: 4
                                                      </p>
                                                      <p> <b>Others About The School / Institution:
                                                          </b>
                                                          Attends the Philadelphia Museum School
                                                          of Industrial Art. Studies design with
                                                          Alexey Brodovitch, art director at Harper's
                                                          Bazaar, and works as his assistant.
                                                      </p>
                                                      <p><b>Certificate: </b>
                                                          <a download="" href=""
                                                              target="_blank">Download my certificate
                                                              here</a>
                                                          <br><br>
                                                          <img style="height: auto; width: 300px;"
                                                              src="/images/resume.svg">
                                                      </p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="timeline__group">
                                          <span class="timeline__date time"
                                              aria-hidden="true">2014</span>
                                          <div class="timeline__cards">
                                              <div class="timeline__card timelineCard">
                                                  <header class="card__header">
                                                      <time class="time" datetime="2008-07-14">
                                                          <span class="time__day">14</span>
                                                          <span class="time__month">Jul</span>
                                                      </time>
                                                  </header>
                                                  <div class="card__content">
                                                      <p>Travels to France, Italy, Spain, and Peru.
                                                          After completing fashion editorial in Lima,
                                                          prolongs stay to make portraits of local
                                                          people in a daylight studio</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="py-4"></div>
                  </div>


                  <div style="display: none;" id="Work Experience"
                      class="animate__animated animate__fadeInRight new-page card shadow mb-4 resize-only">

                      <div class="container field py-3 resize-drag" style="font-size: 2rem; color: black;" contenteditable="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                              fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                              <path
                                  d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                              <path
                                  d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                          </svg>
                          <b>Work Experience</b>
                      </div>

                      <div class="container field">
                          <div class="row resize-drag">
                              <div class="col-sm-12">

                                  <div class="slider">

                                      <a href="#slide-1">1</a>
                                      <a href="#slide-2">2</a>
                                      <a href="#slide-3">3</a>
                                      <a href="#slide-4">4</a>
                                      <a href="#slide-5">5</a>

                                      <div class="slides" style="color: black;" contenteditable>

                                          <div id="slide-1">
                                              <div class="container field">
                                                  <div class="row">
                                                      <!-- <div class="col-sm-4 py-4" contenteditable> -->
                                                      <div class="col-sm-4 py-5" contenteditable>
                                                          <span><b>From: </b><br>
                                                              <svg xmlns="http://www.w3.org/2000/svg"
                                                                  width="15" height="15"
                                                                  style="color: rgb(0, 4, 255)"
                                                                  fill="currentColor"
                                                                  class="bi bi-calendar"
                                                                  viewBox="0 0 16 16">
                                                                  <path
                                                                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                                              </svg>
                                                              2012/08/30<br>
                                                              | <br>
                                                              <b>To: </b><br>
                                                              <svg xmlns="http://www.w3.org/2000/svg"
                                                                  width="16" height="16"
                                                                  style="color: rgb(0, 4, 255)"
                                                                  fill="currentColor"
                                                                  class="bi bi-calendar"
                                                                  viewBox="0 0 16 16">
                                                                  <path
                                                                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                                              </svg>
                                                              2021/05/24
                                                          </span>
                                                      </div>

                                                      <!-- <div class="col-sm-8 py-5" contenteditable> -->
                                                      <div class="col-sm-8 py-4" contenteditable>
                                                          <span style="float: left;"><b>Company: </b>
                                                              ABC Company
                                                          </span>
                                                          <br><br>
                                                          <span style="float: left;"><b>Title /
                                                                  Position: </b>
                                                              Programmar<br><br>
                                                          </span>
                                                          <span style="float: left;"><b>About The Job:
                                                              </b>
                                                              Work as a backend developer.<br><br>
                                                          </span>
                                                          <span style="float: left;"><b>Reference
                                                                  Letter: </b>
                                                              <a download="" href=""
                                                                  target="_blank">Download my
                                                                  Reference Letter here</a>
                                                              <br><br>
                                                              <img style="height: auto; width: 300px;"
                                                                  src="/images/resume.svg">
                                                          </span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>


                                          <div id="slide-2">
                                              2
                                          </div>
                                          <div id="slide-3">
                                              3
                                          </div>
                                          <div id="slide-4">
                                              4
                                          </div>
                                          <div id="slide-5">
                                              5
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="py-4"></div>
                      </div>
                  </div>

                  <div style="display: none;" id="Skill"
                      class="animate__animated animate__fadeInRight new-page card shadow mb-4">

                      <div class="container field py-3 resize-drag" style="font-size: 2rem; color: black;" contenteditable="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                              fill="currentColor" class="bi bi-screwdriver" viewBox="0 0 16 16">
                              <path
                                  d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z" />
                          </svg>
                          <b>Skill</b>
                      </div>

                      <div class="container field">
                          <div class="row">
                              <div class="col-sm-4">
                                  <div class="single-chart resize-drag" contenteditable>
                                      <svg viewBox="0 0 36 36" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">JavaScript</text>
                                      </svg>
                                  </div>
                              </div>

                              <div class="col-sm-4">
                                  <div class="single-chart resize-drag" contenteditable>
                                      <svg viewBox="0 0 36 36" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="75, 100" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">Good</text>
                                      </svg>
                                  </div>
                              </div>

                              <div class="col-sm-4">
                                  <div class="single-chart resize-drag" contenteditable>
                                      <svg viewBox="0 0 36 36" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="50, 100" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">Chinese Typing</text>
                                      </svg>
                                  </div>
                              </div>

                              <div class="col-sm-4">
                                  <div class="single-chart resize-drag" contenteditable>
                                      <svg viewBox="0 0 36 36" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="25, 100" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">Basic</text>
                                      </svg>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="py-4"></div>
                  </div>


                  <div style="display: none;" id="Language"
                      class="animate__animated animate__fadeInRight new-page card shadow mb-4 resize-only">

                      <div class="container field py-3 resize-drag" style="font-size: 2rem; color: black;" contenteditable="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                              fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
                              <path
                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z" />
                          </svg>
                          <b>Language</b>
                      </div>


                      <div class="container field">
                          <div class="row">
                              <div class="col-sm-12 resize-drag" contenteditable="">
                                  <div class="mb-1" style="color: black;">Normal Progress Bar
                                  </div>
                                  <div class="progress progress-sm mb-2">
                                      <div class="progress-bar progress-sm mb-2" role="progressbar"
                                          style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                          aria-valuemax="100"></div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="container field">
                          <br>
                          <div class="row">
                              <div class="col-sm-12 resize-drag" contenteditable="">
                                  <div class="mb-1" style="color: black;">Normal Progress Bar
                                      <span style="float: right;">50%</span>
                                  </div>
                                  <div class="progress progress-sm mb-2">
                                      <div class="progress-bar" role="progressbar" style="width: 75%"
                                          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="py-4"></div>
                  </div>

              </div>
              <!-- End of main Content -->
                </div>
              </div>
              <!-- if the user has created CV and not adding new field-->
              <% } else if (req.session.CV!='' && req.session.reloadCV=='' ){ %>
                <%- req.session.CV %>
                  <!-- add field -->
                  <% } else { %>
                    <%- req.session.reloadCV %>
                      <% } %>
                        <!-- End of CV body -->
          </div>
          <!-- End of the CV content -->
        </form>
      </div>
      <!-- End of content position -->
    </div>
    <!-- End of Content -->


    <!-- UploadDoc Modal-->
    <div class="animate__animated animate__fadeIn center" style="display:none" id="uploadDocModal" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <h6 class="py-3">Please select the file you want to upload:</h6>
            <label class="file">
              <input id='doc' type="file" accept="application/pdf, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
              text/plain, .zip,.rar,.7zip" onchange="uploadFile(this.files, 'documentFile')">
              <span id='documentFileContent' class="file-custom">Choose a file...</span>
              <input type="hidden" id="documentFile">
            </label>
            <span style="font-size: 2px;">**Flie type: .doc, .docx, .pdf, .xlsx, .xls, .ppt, .txt, .zip,
              .rar, .7zip<br></span>
            <span id='documentFileAlert' style="font-size: 2px; color: red;"></span>
          </div>
          <div class="modal-footer">
            <button id="alert-cancel" class="btn btn-secondary" type="button"
              onclick="showUploadModal('uploadDocModal')" data-dismiss="modal">Cancel</button>
            <button id="alert-delete" class="btn pink-btn" type="button" onclick="addFile('documentFile')"
              data-dismiss="modal">Upload</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of UploadDoc Modal -->


    <!-- UploadImg Modal-->
    <div class="animate__animated animate__fadeIn center" style="display:none" id="uploadImgModal" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <h6 class="py-3">Please select the file you want to upload:</h6>
            <label class="file">
              <!-- input for upload file -->
              <input id='img' type="file" accept="image/*" onchange="uploadFile(this.files, 'imageFile')">
              <span id='imageFileContent' class="file-custom">Choose a file...</span>
              <!-- input for store file -->
              <input type="hidden" id="imageFile">
            </label>

            <!-- annouce the user to upload file -->
            <span id='imageFileAlert' style="font-size: 2px; color: red;"></span>

            <!-- ask for choosing frame -->
            <h6 class="imageFrame" style="display: none"><br><br>Please choose the frame you want to upload:<br></h6>
            <!-- annouce the user to choose frame -->
            <span id='imageFileUploadAlert' style="font-size: 2px; color: red;"></span>

            <!-- radio -->
            <div class="row imageFrame" style="display: none;">
              <div class="col-lg-4 d-none d-lg-block">
                <div class="custom-control custom-radio">
                  <input type="radio" class="frameRadio custom-control-input" name="radio" value="rounded-circle"
                    id="frame1">
                  <label class="custom-control-label" for="frame1">Frame 1</label>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block">
                <div class="custom-control custom-radio">
                  <input type="radio" class="frameRadio custom-control-input" name="radio" value="rounded-xl"
                    id="frame2">
                  <label class="custom-control-label" for="frame2">Frame 2</label>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block">
                <div class="custom-control custom-radio">
                  <input type="radio" class="frameRadio custom-control-input" name="radio" value="" id="frame3">
                  <label class="custom-control-label" for="frame3">Frame 3</label>
                </div>
              </div>
            </div>

            <!-- image -->
            <img style="display: none; height: 25%; width:25%;" class="imageFrame rounded-circle">
            &nbsp;<img style="display: none; height: 25%; width:25%;" class="imageFrame rounded-xl mx-5">
            &nbsp;<img style="display: none; height: 25%; width:25%;" class="imageFrame">

          </div>
          <div class="modal-footer">
            <button id="alert-cancel" class="btn btn-secondary" type="button"
              onclick="showUploadModal('uploadImgModal')" data-dismiss="modal">Cancel</button>
            <button id="alert-delete" class="btn pink-btn" type="button" onclick="addFile('imageFile')"
              data-dismiss="modal">Upload</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of UploadImg Modal -->


    <!-- Delete Modal-->
    <div class="animate__animated animate__fadeIn center" style="display:none" id="deleteModal" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm to Delete?</h5>
          </div>
          <div class="modal-body">Once you have deleted your CV, you cannot retrieve it back.</div>
          <div class="modal-footer">
            <button id="alert-cancel" class="btn btn-secondary" type="button" onclick="showDeleteAlert()"
              data-dismiss="modal">Cancel</button>
            <button id="alert-delete" class="btn pink-btn" type="button" onclick="deleteCV()"
              data-dismiss="modal">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Delete Modal -->


    <!-- Submit Modal-->
    <div class="animate__animated animate__fadeIn center" style="display:none" id="submitModal" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm to Submit?</h5>
          </div>
          <div class="modal-body">Your CV will be published as a hyperlink soon.</div>
          <div class="modal-footer">
            <button id="alert-cancel" class="btn btn-secondary" type="button" onclick="showSubmitAlert()"
              data-dismiss="modal">Cancel</button>
            <button id="alert-delete" class="btn pink-btn" type="button"
              onclick="submitCV('<%= req.session.firstName %>', '<%= req.session.lastName %>', '<%= req.session.userID %>')"
              data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Submit Modal -->


    <!-- Add Page Modal-->
    <div class="animate__animated animate__fadeIn center" style="display:none;" id="addPageModal" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h6>Please input the name of your new page:</h6><br>
            <input type="text" id="newPageName" name="" class="form-control form-control-user">
            <p id="existed" style="display: none; padding: 1em 1em; color: red; font-size: 10px;"> **The page has
              already existed</p>
          </div>
          <div class="modal-footer">
            <button id="alert-cancel" class="btn btn-secondary" type="button" onclick="showAddPageWindow()"
              data-dismiss="modal">Cancel</button>
            <button id="alert-addPage" class="btn pink-btn" type="button" onclick="addPage()"
              data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Add Page Modal -->


    <!-- Delete Page Modal-->
    <div class="animate__animated animate__fadeIn center" style="display:none;" id="deletePageModal" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div id="deletePageModalBody" class="modal-body">
            <h6>Please choose the page(s) you want to delete.</h6><br>
          </div>
          <div class="modal-footer">
            <button id="alert-cancel" class="btn pink-btn" type="button" onclick="showDeletePageWindow()"
              data-dismiss="modal">Finish</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Delete Page Modal -->


  </div>
  <!-- End of Content Wrapper-->

  <!-- Scroll to Top Button-->
  <!-- <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a> -->






  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>


  <script>
    ////////for showing toolbar
    function showUserToolbar() {
      var toolbar = document.getElementById('userToolbar');
      if (toolbar.style.display == '') {
        toolbar.style.display = 'none';
      } else {
        toolbar.style.display = ''
      }
    }
    ////////


    ///////for showing submit alert
    function showSubmitAlert() {
      var submitAlert = document.getElementById('submitModal');
      var content = document.getElementById("content");
      var sidebar = document.getElementById("sidebar");
      var topbar = document.getElementById("topbar");
      if (submitAlert.style.display == '') {
        submitAlert.style.display = 'none';
        content.style.opacity = '';
        sidebar.style.opacity = '';
        topbar.style.opacity = '';
      } else {
        submitAlert.style.display = ''
        content.style.opacity = '.4';
        sidebar.style.opacity = '.4';
        topbar.style.opacity = '.4';
      }
    }
    ///////

    //////// for submit
    async function submitCV(firstName, lastName, userID) {
      //add the innerHTML of the CV to the input value for submittion
      document.getElementById('formInput').value = document.getElementById('CVContent').innerHTML;

      var data = JSON.stringify({
        CV: document.getElementById('formInput').value,
        link: 'http://' + firstName + '_' + lastName + '_' + userID + '_CV.com',
      });

      var response = await fetch("/user/submitCV", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: data
      });

      if (response.ok) {
        var data = await response.json();
        alert(data.message);
        window.location = data.url;
      } else {
        alert(response.statusText);
      }
    }
    ////////


    /////// for save innerHTML to session and db
    async function saveContent() {
      document.getElementById('formInput').value = document.getElementById('CVContent').innerHTML;

      var data = JSON.stringify({
        CV: document.getElementById('formInput').value,
      });

      var response = await fetch("/user/saveCV", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: data
      });

      if (response.ok) {
        var data = await response.json();
        alert(data.message);
        window.location = data.url;
      } else {
        alert(response.statusText);
      }
    }
    ////////


    ///////for showing delete alert
    function showDeleteAlert() {
      var deleteAlert = document.getElementById('deleteModal');
      var content = document.getElementById("content");
      var sidebar = document.getElementById("sidebar");
      var topbar = document.getElementById("topbar");
      if (deleteAlert.style.display == '') {
        deleteAlert.style.display = 'none';
        content.style.opacity = '';
        sidebar.style.opacity = '';
        topbar.style.opacity = '';
      } else {
        deleteAlert.style.display = ''
        content.style.opacity = '.4';
        sidebar.style.opacity = '.4';
        topbar.style.opacity = '.4';
      }
    }
    ///////

    ///////for delete CV
    async function deleteCV() {
      var response = await fetch("/user/deleteCV", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: data
      });

      if (response.ok) {
        var data = await response.json();
        window.location = data.url;
      } else {
        alert(response.statusText);
      }
    }
    ////////


    ////////for change text style
    document.querySelectorAll("[data-edit]").forEach(styleBtn =>
      styleBtn.addEventListener("click", changeTextStyle)
    );

    function changeTextStyle(event) {
      event.preventDefault();
      const newValue = this.getAttribute("data-edit").split(":");
      document.execCommand(newValue[0], false, newValue[1]);
    }
    ////////


    // function setColor() {
    //   document.execCommand('styleWithCSS', false, true);
    //   document.execCommand('foreColor', false, "rgba(0,0,0,0.5)");
    // }


    ////////for add field
    async function addField() {
      //add content height
      var contentid = sessionStorage.getItem('currentPage');
      var contentHeight = document.getElementById(contentid).style.height
      var newHeight = parseInt(contentHeight, 10) + 40;
      document.getElementById(contentid).style.height = newHeight.toString() + "px";

      //add new text field
      document.getElementById(contentid).innerHTML += "<div class='container field'> <div class='row resize-drag'> <div class='card col-sm-12' contenteditable> <p></p> </div> </div> </div>";

      //Reload the page for update the code
      document.getElementById('formInput').value = document.getElementById('CVContent').innerHTML;
      var data = JSON.stringify({
        CV: document.getElementById('formInput').value,
      });
      var response = await fetch("/user/reloadCV", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: data
      });
      sessionStorage.setItem('addField', 'true');

      location.reload();
    }
    ////////

    ////////check whether the reload is due to add field
    if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
      // due to add field
      if (sessionStorage.getItem("addField") == "true") {
        //no need to have effect when enter
        document.getElementById(sessionStorage.getItem("currentPage")).setAttribute("class", "new-page card shadow mb-4 resize-only");
        //keep page layout
        sessionStorage.setItem('addField', 'false');
      }
      // not due to add field
      else {
        console.log("click refresh to reload")
        updateReloadCVSession();
        window.location.href = "/customize";
      }
    }
    //leave page and enter again
    else {
      console.log("leave the page and enter again")
      console.log(sessionStorage)
      updateReloadCVSession();
    }
    ///////

    ///////update the reloadCV to ''
    async function updateReloadCVSession() {
      var data = JSON.stringify({
        CV: '',
      });
      var response = await fetch("/user/reloadCV", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: data
      });
    }
    //////

    ///////reload once before enter to the page to ensure the CV content is the most updated
    window.onload = function () {
      if (window.location.href.substr(-1) !== '?') {
        window.location = window.location.href + '?';
        sessionStorage.setItem('currentPage', 'Basic Information');
        sessionStorage.setItem('addField', 'false');
        console.log(sessionStorage)
      }
    }
    ///////


    ////////for showing content page
    function showContent(targetPage) {
      var contentBtnArray = document.getElementsByClassName("content-btn");
      var i;
      for (i = 0; i < contentBtnArray.length; i++) {
        if (contentBtnArray[i].value == targetPage) {
          document.getElementById(targetPage).style.display = '';
        } else {
          id = contentBtnArray[i].value;
          document.getElementById(id).style.display = 'none';
        }
      }
      sessionStorage.setItem('currentPage', targetPage);
      document.getElementById(sessionStorage.getItem("currentPage")).setAttribute("class", "animate__animated animate__fadeInRight new-page card shadow mb-4 resize-only");
    }
    ////////


    ///////for showing add page window
    function showAddPageWindow() {
      var addPageWindow = document.getElementById('addPageModal');
      if (addPageWindow.style.display == '') {
        addPageWindow.style.display = 'none';
        //when cancel is clicked, clear all inputted value in the add page window
        document.getElementById("newPageName").value = "";
        document.getElementById("existed").style.display = 'none';
      } else {
        addPageWindow.style.display = ''
      }
    }
    ////////

    ///////for add page
    function addPage() {
      var contentBtnArray = document.getElementsByClassName("content-btn");
      var newPage = document.getElementById("newPageName").value
      var i;
      for (i = 0; i < contentBtnArray.length; i++) {
        if (contentBtnArray[i].value == newPage) {
          document.getElementById("existed").style.display = '';
          return;
        }
      }
      document.getElementById("existed").style.display = 'none';
      document.getElementById("fieldbar").innerHTML += "<li id='" + newPage + "btn' class='nav-item mx-1'> <button type='button' value='" + newPage + "' class='btn content-btn fieldbar' onclick='showContent(this.value)'> <div class='text-break'>" + newPage + "<div> </button> </li>";
      document.getElementById("main").innerHTML += " <div style='display: none;' id='" + newPage + "' class='animate__animated animate__fadeInRight new-page card shadow mb-4 resize-only'> </div>";
      document.getElementById("newPageName").value = "";
    }
    ////////


    ///////for showing upload file window
    function showUploadModal(modalType) {
      var modal = document.getElementById(modalType);
      if (modal.style.display == '') {
        modal.style.display = 'none';
        //when cancel is clicked, clear all file in the modal
        if (modalType == 'uploadDocModal') {
          document.getElementById('doc').value = "";
          document.getElementById('documentFileContent').innerHTML = 'Choose a file...'
          document.getElementById('documentFile').value = "";
          document.getElementById('documentFileAlert').innerHTML = '';
        }
        else if (modalType == 'uploadImgModal') {
          document.getElementById('img').value = "";
          document.getElementById('imageFileContent').innerHTML = 'Choose a file...'
          document.getElementById('imageFile').value = "";
          document.getElementById('imageFileAlert').innerHTML = '';
          document.querySelectorAll('.imageFrame').forEach(img => {
            img.style.display = 'none';
            img.src = '';
          })
          document.querySelectorAll('.frameRadio').forEach(radio => {
            radio.checked = false;
          })
          document.getElementById('imageFileUploadAlert').innerHTML = '';
        }
      } else {
        modal.style.display = ''
      }
    }
    ////////

    ///////for upload file
    function uploadFile(files, fileInput) {
      const file = files[0];
      alert(file.name)
      if (fileInput == 'documentFile' && !file.type == 'application/pdf' && !file.type == 'application/msword' && !file.type == 'application/vnd.ms-excel' && !file.type == 'application/vnd.ms-powerpoint' &&
        !file.type == 'text/plain' && !file.type == '.zip' && !file.type == '.rar' && !file.type == '.7zip') return;

      if (fileInput == 'imageFile' && !file.type.startsWith('image/')) return;

      var reader = new FileReader();
      reader.onload = function (e) {
        alert(e.target.result)
        document.getElementById(fileInput).value = e.target.result;
        if (fileInput == 'imageFile') {
          document.querySelectorAll('.imageFrame').forEach(img => {
            img.style.display = '';
            img.src = e.target.result;
          })
        }
      }
      reader.readAsDataURL(file);
      document.getElementById(fileInput + 'Content').innerHTML = file.name;
    }
    ///////

    //////add file into page
    async function addFile(fileElement) {
      if (document.getElementById(fileElement).value == '') {
        document.getElementById(fileElement + 'Alert').innerHTML = 'Please choose a file before upload';
        return;
      }
      if (fileElement == 'documentFile') {
        //upload document
        //add content height
        var contentid = sessionStorage.getItem('currentPage');
        var contentHeight = document.getElementById(contentid).style.height
        var newHeight = parseInt(contentHeight, 10) + 10;
        document.getElementById(contentid).style.height = newHeight.toString() + "px";

        //add new document
        var file = document.getElementById('documentFile').value;
        document.getElementById(contentid).innerHTML += "<div class='field'> <div class='resize-drag divBorder'> <a download='' href='" + file + "' target='_blank'> Download the document </a> </div> </div>";
      } else {
        //upload image
        //get the image frame class
        var frameClass = null;
        document.querySelectorAll('.frameRadio').forEach(radio => {
          if (radio.checked == true) {
            frameClass = radio.value;
          }
        })

        alert(frameClass)
        //if user hasn't selected a frame yet 
        if (frameClass == null) {
          document.getElementById(fileElement + 'UploadAlert').innerHTML = 'Please select a frame before upload';
          return;
        }

        //add content height
        var contentid = sessionStorage.getItem('currentPage');
        var contentHeight = document.getElementById(contentid).style.height
        var newHeight = parseInt(contentHeight, 10) + 150;
        document.getElementById(contentid).style.height = newHeight.toString() + "px";

        //add new image
        var file = document.getElementById('imageFile').value;
        document.getElementById(contentid).innerHTML += "<div class='field'> <img src='" + file + "' style='height: 150px; width: auto;' class='resize-drag " + frameClass + "' /> </div>";
      }

      //Reload the page for update the code
      document.getElementById('formInput').value = document.getElementById('CVContent').innerHTML;
      var data = JSON.stringify({
        CV: document.getElementById('formInput').value,
      });
      var response = await fetch("/user/reloadCV", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: data
      });
      sessionStorage.setItem('addField', 'true');

      location.reload();
    }
    ////////


    ////////for delete field button's style
    function deleteBtn(element) {
      if (element.classList.contains("active")) {
        element.setAttribute("class", "btn nav-link");
        element.style.color = "#dddfeb";
        sessionStorage.setItem("deleteBtn", "off")
      } else {
        element.setAttribute("class", "btn nav-link active");
        element.style.color = "black";
        sessionStorage.setItem("deleteBtn", "on")
      }
    }
    ///////


    //////when field is being clicked
    document.querySelectorAll(".field").forEach(field => {
      field.addEventListener("click", deleteField);
    });

    function deleteField(event) {
      // if delete button is already clicked - delete field
      if (sessionStorage.getItem("deleteBtn") == "on") {
        event.preventDefault();
        console.info(event.target)
        event.target.remove();
      }
      //Otherwise
      else {
        return;
      }
    }
    ////////


    //////for showing delete page window
    function showDeletePageWindow() {
      var deletePageWindow = document.getElementById('deletePageModal');
      // if cancel is clicked
      if (deletePageWindow.style.display == '') {
        deletePageWindow.style.display = 'none';
        document.getElementById("deletePageModalBody").innerHTML = '<h6>Please choose the page(s) you want to delete.</h6><br>';
      } else {
        deletePageWindow.style.display = '';
        var allPageArray = document.getElementsByClassName("content-btn");
        var body = document.getElementById("deletePageModalBody");
        var i;
        for (i = 0; i < allPageArray.length; i++) {
          document.getElementById("deletePageModalBody").innerHTML += "<button type='button' class='btn btn-secondary' onclick='deletePage()' value='" + allPageArray[i].value + "' id='" + allPageArray[i].value + "page'> x " + allPageArray[i].value + " </button>";
        }
      }
    }
    ////////

    //////delete page
    function deletePage() {
      var page = event.target.value;
      var pageid = event.target.id;
      document.getElementById(page).remove();
      document.getElementById(page + "btn").remove();
      document.getElementById(pageid).remove();
    }
    ////////


    ////////for class resize-only: resize div (textfield)
    interact('.resize-only')
      .resizable({
        // resize from all edges and corners
        edges: { bottom: true },

        listeners: {
          move(event) {
            var target = event.target
            var x = (parseFloat(target.getAttribute('data-x')) || 0)
            var y = (parseFloat(target.getAttribute('data-y')) || 0)

            // update the element's size
            target.style.width = event.rect.width + 'px'
            target.style.height = event.rect.height + 'px'

            // translate when resizing from top or left edges
            x += event.deltaRect.left
            y += event.deltaRect.top

            target.style.webkitTransform = target.style.transform =
              'translate(' + x + 'px,' + y + 'px)'

            target.setAttribute('data-x', x)
            target.setAttribute('data-y', y)
            //target.textContent = Math.round(event.rect.width) + '\u00D7' + Math.round(event.rect.height)
          }
        },
        modifiers: [
          // keep the edges inside the parent
          // interact.modifiers.restrictEdges({
          //   outer: '#mainContent'
          // }),

          // minimum size
          interact.modifiers.restrictSize({
            min: { width: 980, height: 100 }
          })
        ],
        inertia: true
      })
    ////////

    //////// for class resize-drag: for resize and drag div (textfield)
    interact('.resize-drag')
      .resizable({
        // resize from all edges and corners
        edges: { left: true, right: true, bottom: true, top: true },

        listeners: {
          move(event) {
            var target = event.target
            var x = (parseFloat(target.getAttribute('data-x')) || 0)
            var y = (parseFloat(target.getAttribute('data-y')) || 0)

            // update the element's size
            target.style.width = event.rect.width + 'px'
            target.style.height = event.rect.height + 'px'

            // translate when resizing from top or left edges
            x += event.deltaRect.left
            y += event.deltaRect.top

            target.style.webkitTransform = target.style.transform =
              'translate(' + x + 'px,' + y + 'px)'

            target.setAttribute('data-x', x)
            target.setAttribute('data-y', y)
            //target.textContent = Math.round(event.rect.width) + '\u00D7' + Math.round(event.rect.height)
          }
        },
        modifiers: [
          // keep the edges inside the parent
          interact.modifiers.restrictEdges({
            outer: '#main'
          }),

          // minimum size
          interact.modifiers.restrictSize({
            min: { width: 100, height: 50 }
          })
        ],
        inertia: true,
      })

      //// drag
      .draggable({
        manualStart: true,
      })
      .on('hold', function (event) {
        var interaction = event.interaction;

        if (!interaction.interacting()) {
          interaction.start(
            { name: 'drag' },
            event.interactable,
            event.currentTarget,
            interact(".resize-drag")
              .draggable({
                listeners: { move: window.dragMoveListener },
                modifiers: [
                  interact.modifiers.restrictRect({
                    restriction: '#main',
                    endOnly: true
                  })
                ]
              })
          );
        }
      })

    // .draggable({
    //   listeners: { move: window.dragMoveListener },
    //   modifiers: [
    //     interact.modifiers.restrictRect({
    //       restriction: '#mainContent',
    //       endOnly: true
    //     })
    //   ]
    // })
    function dragMoveListener(event) {
      var target = event.target
      // keep the dragged position in the data-x/data-y attributes
      var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
      var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy
      // translate the element
      target.style.webkitTransform =
        target.style.transform =
        'translate(' + x + 'px, ' + y + 'px)'
      // update the posiion attributes
      target.setAttribute('data-x', x)
      target.setAttribute('data-y', y)
    }
    // this function is used later in the resizing and gesture demos
    window.dragMoveListener = dragMoveListener
    ////////

  </script>