<!-- step1 Modal-->
<div class="animate__animated animate__fadeIn center" <% if(req.session.progressingCV != null){ %> style='z-index: 1; display: none' <% }else { %> style='z-index: 1;' <% } %> 
    id="step1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel" style="color: #f1869f">Step 1 - Inputting Data
                </h4>
            </div>
            <div class="modal-body">
                <div class="py-2"></div>
                Please fill in the following fields. After finishing, please press the "NEXT"
                button for the next step.
                <div class="py-2"></div>
            </div>
            <div class="modal-footer">
                <button id="alert-delete" class="btn pink-btn" type="button" onclick="closeStep1Modal()"
                    data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>

</div>
<!-- End of step1 Modal -->


<div id="content" <% if(req.session.progressingCV != null){ %> style="opacity: ;" <% }else{ %> style="opacity: .4;" <%}%>>
    <!-- progress bar -->
    <div class="py-4"></div>
    <div class="justify-content-center">
     <ul class="progressbar">
        <li>Inputting<br>Data</li>
        <li>Choosing<br>Theme</li>
        <li>Customizing<br>CV</li>
        <li>Making<br>3D CV</li>
     </ul>
    </div>
    <div class="py-3"></div>
    <!-- End of progress bar -->


    <!-- form -->
    <form name="CVData" action="/cv/submitData" method="POST">

        <div class="container">
            <!-- Basic Info -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-xl-10 col-lg-12 col-md-12">
                        <h3 style="color: #a570a7">🧍 Basic Information</h3>
                        <div class="py-2"></div>
                        <div class="row">

                            <div class="col-sm-12 col-lg-12">
                                Profile Image (If any)
                                <div style="color: red; font-size: 3px;">**Suggested Picture: Image in <b>Rectangle</b> form</div>
                                <input type="file" accept="image/*" class="form-control form-control-user py-1" onchange="uploadProfile(this.files)">
                                    <input type="hidden" id="profile" name="CV[profile]"
                                     <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.profile%>" <%}%>>
                                     <% if(req.session.progressingCV !=null && req.session.progressingCV.profile != '') {%>
                                     <a style="color: #4ab6a4" download="profile" href="<%=req.session.progressingCV.profile%>" target="_blank">
                                        Click here to download the previous Profile you uploaded</a>
                                     <% } %>
                            </div>

                            <div class="col-sm-12 col-lg-4">
                                <div class="py-2"></div>
                                Full Name In English
                                <input type="text" id="engName" name="CV[engName]"
                                    class="form-control form-control-user"
                                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" 
                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.engName%>" <%}%>
                                    required>
                            </div>

                            <div class="col-sm-12 col-lg-4">
                                <div class="py-2"></div>
                                Full Name In Chinese (If any)
                                <input type="text" id="chiName" name="CV[chiName]"
                                    class="form-control form-control-user"
                                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')"
                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.chiName%>" <%}%>>
                            </div>

                            <div class="col-sm-12 col-lg-4">
                                <div class="py-2"></div>
                                Nick Name (If any)
                                <input type="text" id="nickname" name="CV[nickname]"
                                    class="form-control form-control-user"
                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.nickname%>" <%}%>>
                            </div>

                            <div class="col-sm-12 col-lg-2">
                                <div class="py-2"></div>
                                Sex
                                <select class="form-control" id="sex" name="CV[sex]" value="" required>
                                    <option value="Female" <% if(req.session.progressingCV !=null && req.session.progressingCV.sex == 'Female') {%> selected <%}%>>Female</option>
                                    <option value="Male" <% if(req.session.progressingCV !=null && req.session.progressingCV.sex == 'Male') {%> selected <%}%>>Male</option>
                                </select>
                            </div>

                            <div class="col-sm-12 col-lg-3">
                                <div class="py-2"></div>
                                Birth Date
                                <input type="date" id="birth" name="CV[birth]" 
                                class="form-control form-control-user"
                                <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.birth%>" <%}%>
                                    required>
                            </div>

                            <div class="col-sm-12 col-lg-3">
                                <div class="py-2"></div>
                                Country Code
                                <input type="number" id="countryCode" name="CV[countryCode]"
                                    class="form-control form-control-user" placeholder="E.g. 852"
                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.countryCode%>" <%}%>
                                    required>
                            </div>

                            <div class="col-sm-12 col-lg-4">
                                <div class="py-2"></div>
                                Phone
                                <input type="tel" id="phone" name="CV[phone]" class="form-control form-control-user" pattern=[0-9]{8} 
                                <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.phone%>" <%}%>
                                    required>
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <div class="py-2"></div>
                                Email Address
                                <input type="email" id="email" name="CV[email]" class="form-control form-control-user"
                                <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.email%>" <%}%>
                                required>
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <div class="py-2"></div>
                                Personal website (If any)
                                <input type="url" id="personWebLink" name="CV[personWebLink]"
                                    class="form-control form-control-user"
                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.personWebLink%>" <%}%>>
                            </div>

                            <div class="col-sm-12 col-lg-12">
                                <div class="py-2"></div>
                                Address
                                <input type="text" id="address" name="CV[address]"
                                    class="form-control form-control-user" 
                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.address%>" <%}%>
                                    required>
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <div class="py-2"></div>
                                Targeted Occupation
                                <input type="text" id="occupation" name="CV[occupation]"
                                    class="form-control form-control-user" placeholder="E.g. Programmar" 
                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.occupation%>" <%}%>
                                    required>
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <div class="py-2"></div>
                                Job Area
                                <input type="text" id="jobArea" name="CV[jobArea]"
                                    class="form-control form-control-user" placeholder="E.g. Information Technology"
                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.jobArea%>" <%}%>
                                    required>
                            </div>

                            <div class="col-sm-12 col-lg-12">
                                <div class="py-2"></div>
                                Objective (If any)
                                <input type="text" id="objective" name="CV[objective]"
                                    class="form-control form-control-user"
                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.objective%>" <%}%>>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Basic Info -->


            <!-- Education -->
            <div id="eduData1" class="container eduField">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-xl-10 col-lg-12 col-md-12">
                        <div class="card o-hidden border-0">
                            <div class="py-5"></div>
                            <h3 style="color: #a570a7">🎓 Education</h3>
                            <div class="py-1"></div>
                            <span style="color: red; font-size: 3px;">**Please enter the detail from the <b>Past</b>
                                to the <b>Previous</b>.
                            </span>
                           
                            <div class="row py-4">

                                <div class="col-sm-12 col-lg-12">
                                    Name Of The School / Institution
                                    <input type="text" name="CV[school]" class="form-control form-control-user" 
                                    <% if(req.session.progressingCV !=null && req.session.progressingCV.school!= null) { 
                                        var school = req.session.progressingCV.school  + '';
                                        var schoolData = school.split(",");
                                        if(schoolData[1] != null) {%>
                                        value="<%=req.session.progressingCV.school[0]%>" <%} else {%>
                                        value="<%=req.session.progressingCV.school%>" <% } } %>
                                    required>
                                </div>

                                <div class="col-sm-12 col-lg-4">
                                    <div class="py-2"></div>
                                    Start Date
                                    <input type="date" name="CV[eduStartDate]" class="form-control form-control-user"
                                    <% if(req.session.progressingCV !=null && req.session.progressingCV.eduStartDate!= null) { 
                                        var eduStartDate = req.session.progressingCV.eduStartDate  + '';
                                        var eduStartDateData = eduStartDate.split(",");
                                        if(eduStartDateData[1] != null) {%>
                                        value="<%=req.session.progressingCV.eduStartDate[0]%>" <%} else {%>
                                        value="<%=req.session.progressingCV.eduStartDate%>" <% } } %>
                                    required>
                                </div>

                                <div class="col-sm-12 col-lg-4">
                                    <div class="py-2"></div>
                                    End Date (or Expected End Date)
                                    <input type="date" name="CV[eduEndDate]" class="form-control form-control-user"
                                    <% if(req.session.progressingCV !=null && req.session.progressingCV.eduEndDate!= null) { 
                                        var eduEndDate = req.session.progressingCV.eduEndDate  + '';
                                        var eduEndDateData = eduEndDate.split(",");
                                        if(eduEndDateData[1] != null) {%>
                                        value="<%=req.session.progressingCV.eduEndDate[0]%>" <%} else {%>
                                        value="<%=req.session.progressingCV.eduEndDate%>" <% } } %>
                                    required>
                                </div>

                                <div class="col-sm-12 col-lg-4">
                                    <div class="py-2"></div>
                                    Major
                                    <input type="text" name="CV[major]" class="form-control form-control-user"
                                    <% if(req.session.progressingCV !=null && req.session.progressingCV.major!= null) { 
                                        var major = req.session.progressingCV.major  + '';
                                        var majorData = major.split(",");
                                        if(majorData[1] != null) {%>
                                        value="<%=req.session.progressingCV.major[0]%>" <%} else {%>
                                        value="<%=req.session.progressingCV.major%>" <% } } %>
                                    required>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="py-2"></div>
                                    Degree / Level
                                    <select class="form-control" name="CV[degree]" required>
                                        <option value='Professional Degree' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.degree[0] == 'Professional Degree' || req.session.progressingCV.degree == 'Professional Degree') {%> selected <%}}%>>Professional Degree</option>
                                        <option value='Doctoral Degree' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.degree[0] == 'Doctoral Degree' || req.session.progressingCV.degree == 'Doctoral Degree') {%> selected <%}}%>>Doctoral Degree</option>
                                        <option value='Master Degree' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.degree[0] == 'Master Degree' || req.session.progressingCV.degree == 'Master Degree') {%> selected <%}}%>>Master Degree</option>
                                        <option value='Bachelor Degree' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.degree[0] == 'Bachelor Degree' || req.session.progressingCV.degree == 'Bachelor Degree') {%> selected <%}}%>>Bachelor Degree</option>
                                        <option value='Associate Degree' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.degree[0] == 'Associate Degree' || req.session.progressingCV.degree == 'Associate Degree') {%> selected <%}}%>>Associate Degree</option>
                                        <option value='Graduate' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.degree[0] == 'Graduate' || req.session.progressingCV.degree == 'Graduate') {%> selected <%}}%>>Graduate</option>
                                        <option value='In Progress' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.degree[0] == 'In Progress' || req.session.progressingCV.degree == 'In Progress') {%> selected <%}}%>>In Progress</option>
                                    </select>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="py-2"></div>
                                    CGPA / Result
                                    <input type="text" name="CV[mark]" class="form-control form-control-user"
                                    <% if(req.session.progressingCV !=null && req.session.progressingCV.mark!= null) { 
                                        var mark = req.session.progressingCV.mark  + '';
                                        var markData = mark.split(",");
                                        if(markData[1] != null) {%>
                                        value="<%=req.session.progressingCV.mark[0]%>" <%} else {%>
                                        value="<%=req.session.progressingCV.mark%>" <% } } %>
                                    required>
                                </div>

                                <div class="col-sm-12 col-lg-12">
                                    <div class="py-2"></div>
                                     Others About The School / Institution (If any)
                                    <input type="text" name="CV[eduDescription]" class="form-control form-control-user"
                                    <% if(req.session.progressingCV !=null && req.session.progressingCV.mark!= null) { 
                                        var eduDescription = req.session.progressingCV.eduDescription  + '';
                                        var eduDescriptionData = eduDescription.split(",");
                                        if(eduDescriptionData[1] != null) {%>
                                        value="<%=req.session.progressingCV.eduDescription[0]%>" <%} else {%>
                                        value="<%=req.session.progressingCV.eduDescription%>" <% } } %>>
                                </div>

                                <div class="col-sm-12 col-lg-12">
                                    <div class="py-2"></div>
                                    Certificate (If any)
                                    <input type="file" accept="image/*,application/pdf" class="form-control form-control-user py-1" onchange="uploadFile()">
                                    <input type="hidden" id="eduCertificate1" name="CV[eduCertificate]"
                                    <% if(req.session.progressingCV !=null && req.session.progressingCV.eduCertificate[0]!='' && req.session.progressingCV.eduCertificate!='') {
                                        var eduCertificate = req.session.progressingCV.eduCertificate  + '';
                                        var eduCertificateData = eduCertificate.split(",");
                                        if(eduCertificateData[1] != null) {%>
                                        value="<%=req.session.progressingCV.eduCertificate[0]%>" <%} else {%>
                                        value="<%=req.session.progressingCV.eduCertificate%>" <% } } %>>
                                    <% if(req.session.progressingCV !=null && req.session.progressingCV.eduCertificate!='' && req.session.progressingCV.eduCertificate[0]!='') {%>
                                    <a style="color: #4ab6a4" download="education_1_certificate" <% if(eduCertificateData[1] != null) {%>
                                        href="<%=req.session.progressingCV.eduCertificate[0]%>"<% } else {%> 
                                        href="<%=req.session.progressingCV.eduCertificate%>" <% } %> target="_blank">
                                        Click here to download the previous Certificate you uploaded</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% if (req.session.progressingCV !=null && req.session.progressingCV.school.length>0 && eduStartDateData[1] != null) {%>
                <% var i; for(i=1; i<req.session.progressingCV.school.length; i++ ) { %>
                    <div id='eduData<%=i+1%>' class='container eduField'>
                        <div class='row justify-content-center'>
                            <div class='col-sm-12 col-xl-10 col-lg-12 col-md-12'>
                                <div class='card o-hidden border-0'>
                                    <div class='row'>
                                        <div class='col-sm-12 col-lg-12'><div class="py-3"></div> Name Of The School / Institution
                                            <input type='text' name='CV[school]' class='form-control form-control-user'
                                            value="<%=req.session.progressingCV.school[i]%>" required>
                                        </div>
                                        <div class='col-sm-12 col-lg-4'><div class="py-2"></div> Start Date <input type='date'
                                                name='CV[eduStartDate]' class='form-control form-control-user'
                                                value="<%=req.session.progressingCV.eduStartDate[i]%>" required>
                                        </div>
                                        <div class='col-sm-12 col-lg-4'><div class="py-2"></div> End Date (or Expected End Date) 
                                            <input type='date' name='CV[eduEndDate]' class='form-control form-control-user'
                                            value="<%=req.session.progressingCV.eduEndDate[i]%>" required>
                                        </div>
                                        <div class="col-sm-12 col-lg-4"><div class="py-2"></div> Major <input type='text'
                                            name='CV[major]' class='form-control form-control-user'
                                            value="<%=req.session.progressingCV.major[i]%>" required>
                                        </div>
                                        <div class="col-sm-12 col-lg-6"><div class="py-2"></div>
                                            Degree / Level
                                            <select class="form-control" name="CV[degree]" required>
                                                <option value='Professional Degree' <% if(req.session.progressingCV.degree[i] == 'Professional Degree') {%> selected <%}%>>Professional Degree</option>
                                                <option value='Doctoral Degree' <% if(req.session.progressingCV.degree[i] == 'Doctoral Degree') {%> selected <%}%>>Doctoral Degree</option>
                                                <option value='Master Degree' <% if(req.session.progressingCV.degree[i] == 'Master Degree') {%> selected <%}%>>Master Degree</option>
                                                <option value='Bachelor Degree' <% if(req.session.progressingCV.degree[i] == 'Bachelor Degree') {%> selected <%}%>>Bachelor Degree</option>
                                                <option value='Associate Degree' <% if(req.session.progressingCV.degree[i] == 'Associate Degree') {%> selected <%}%>>Associate Degree</option>
                                                <option value='Graduate' <% if(req.session.progressingCV.degree[i] == 'Graduate') {%> selected <%}%>>Graduate</option>
                                                <option value='In Progress' <% if(req.session.progressingCV.degree[i] == 'In Progress') {%> selected <%}%>>In Progress</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-lg-6"><div class="py-2"></div> CGPA / Result <input type='text'
                                            name='CV[mark]' class='form-control form-control-user'
                                            value="<%=req.session.progressingCV.mark[i]%>" required>
                                        </div>
                                        <div class='col-sm-12 col-lg-12'><div class="py-2"></div> Others About The School / Institution (If any)
                                            <input type='text' name='CV[eduDescription]'
                                                class='form-control form-control-user' value="<%=req.session.progressingCV.eduDescription[i]%>">
                                        </div>
                                        <div class='col-sm-12 col-lg-12'><div class="py-2"></div> Certificate (If any)
                                            <input type="file" accept="image/*,application/pdf" class="form-control form-control-user py-1" onchange="uploadFile()">
                                           <input type="hidden" id="eduCertificate<%=i+1%>" name="CV[eduCertificate]"
                                            value="<%=req.session.progressingCV.eduCertificate[i]%>"> 
                                            <% if(req.session.progressingCV.eduCertificate[i] !='') { %>
                                            <a style="color: #4ab6a4" download="education_<%=i+1%>_certificate" href="<%=req.session.progressingCV.eduCertificate[i]%>" target="_blank">
                                                Click here to download the previous Certificate you uploaded</a>
                                                <% } %>
                                        </div>
                                        <div class='col-lg-12 col-sm-12'>
                                            <button value='eduData<%=i+1%>' type='button'
                                                class='btn btn-link' style='color: red; float: right;'
                                                onclick='deleteData()'> - Remove this field </button>
                                        </div>
                                        <div class='py-3'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } } %>

                        <div id="eduBtn" class="container">
                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-xl-10 col-lg-12 col-md-12">
                                    <button type="button" class="btn btn-link" onclick="addData('education')">+ More
                                        Educations
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- End of Education -->


                        <!-- Work Expereience -->
                        <div id="workData1" class="container workField">
                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-xl-10 col-lg-12 col-md-12">
                                    <div class="card o-hidden border-0">
                                        <div class="py-5"></div>
                                        <h3 style="color: #a570a7">💼 Work Experience (If any)</h3>
                                        <div class="py-1"></div>
                                        <span style="color: red; font-size: 3px;">**Please enter the detail from the <b>Past</b>
                                         to the <b>Previous</b>.
                                        </span>
                                        
                                        <div class="row py-2">

                                            <div class="col-sm-12 col-lg-6">
                                                <div class="py-2"></div>
                                                Company
                                                <input type="text" name="CV[company]" class="form-control form-control-user"
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.company!= null) { 
                                                    var company = req.session.progressingCV.company  + '';
                                                    var companyData = company.split(",");
                                                    if(companyData[1] != null) {%>
                                                    value="<%=req.session.progressingCV.company[0]%>" <%} else {%>
                                                    value="<%=req.session.progressingCV.company%>" <% } } %>>
                                            </div>

                                            <div class="col-sm-12 col-lg-6">
                                                <div class="py-2"></div>
                                                Title / Position
                                                <input type="text" name="CV[position]" class="form-control form-control-user"
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.position!= null) { 
                                                    var position = req.session.progressingCV.position  + '';
                                                    var positionData = position.split(",");
                                                    if(positionData[1] != null) {%>
                                                    value="<%=req.session.progressingCV.position[0]%>" <%} else {%>
                                                    value="<%=req.session.progressingCV.position%>" <% } } %>>
                                            </div>

                                            <div class="col-sm-12 col-lg-3">
                                                <div class="py-2"></div>
                                                Start Date
                                                <input type="date" name="CV[workStartDate]" class="form-control form-control-user"
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.workStartDate!= null) { 
                                                    var workStartDate = req.session.progressingCV.workStartDate  + '';
                                                    var workStartDateData = workStartDate.split(",");
                                                    if(workStartDateData[1] != null) {%>
                                                    value="<%=req.session.progressingCV.workStartDate[0]%>" <%} else {%>
                                                    value="<%=req.session.progressingCV.workStartDate%>" <% } } %>>
                                            </div>

                                            <div class="col-sm-12 col-lg-3">
                                                <div class="py-2"></div>
                                                End Date
                                                <input id="workEndDate1" name="CV[workEndDate]" class="form-control form-control-user"
                                                type="<% if(req.session.progressingCV !=null && req.session.progressingCV.inJob != null){ if(req.session.progressingCV.inJob[0] == true || req.session.progressingCV.inJob == 'workEndDate1' || req.session.progressingCV.inJob[0] == 'workEndDate1'){ %>text<% }else{ %>date<% }}else{%>date<%} %>" 
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.workEndDate!= null) { 
                                                    var workEndDate = req.session.progressingCV.workEndDate  + '';
                                                    var workEndDateData = workEndDate.split(",");
                                                    if(workEndDateData[1] != null) {%>
                                                    value="<%=req.session.progressingCV.workEndDate[0]%>" <%} else {%>
                                                    value="<%=req.session.progressingCV.workEndDate%>" <% } } %>
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.inJob != null){ if(req.session.progressingCV.inJob[0] == true || req.session.progressingCV.inJob == 'workEndDate1' || req.session.progressingCV.inJob[0] == 'workEndDate1'){ %> readOnly <% }} %>>
                                            </div>

                                            <div class="col-sm-12 col-lg-3">
                                                <div class="py-4"></div>
                                                <input value="workEndDate1" type="checkbox" name="CV[inJob]" onclick='checkEndDateBox()'
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.inJob != null){ if(req.session.progressingCV.inJob[0] == true || req.session.progressingCV.inJob == 'workEndDate1' || req.session.progressingCV.inJob[0] == 'workEndDate1'){ %> checked <% }} %>>
                                                <span>Still in this job right now?</span>
                                                <div class="py-2"></div>
                                            </div>

                                            <div class="col-sm-12 col-lg-12">
                                                <div class="py-2"></div>
                                                Description About The Job
                                                <input type="text" name="CV[workDescription]" class="form-control form-control-user"
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.workDescription!= null) { 
                                                    var workDescription = req.session.progressingCV.workDescription + '';
                                                    var workDescriptionData = workDescription.split(",");
                                                    if(workDescriptionData[1] != null) {%>
                                                    value="<%=req.session.progressingCV.workDescription[0]%>" <%} else {%>
                                                    value="<%=req.session.progressingCV.workDescription%>" <% } } %>>
                                            </div>

                                            <div class="col-sm-12 col-lg-12">
                                                <div class="py-2"></div>
                                                Reference Letter
                                                <input type="file" accept="image/*,application/pdf" class="form-control form-control-user py-1" onchange="uploadFile()">
                                                <input type="hidden" id="reference1" name="CV[reference]"
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.reference[0]!='' && req.session.progressingCV.reference!='') {
                                                    var reference = req.session.progressingCV.reference  + '';
                                                    var referenceData = reference.split(",");
                                                    if(referenceData[1] != null) {%>
                                                    value="<%=req.session.progressingCV.reference[0]%>" <%} else {%>
                                                    value="<%=req.session.progressingCV.reference%>" <% } } %>>
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.reference!='' && req.session.progressingCV.reference[0]!='') {%>
                                                <a style="color: #4ab6a4" download="reference_1" <% if(referenceData[1] != null) {%>
                                                    href="<%=req.session.progressingCV.reference[0]%>"<% } else {%> 
                                                    href="<%=req.session.progressingCV.reference%>" <% } %> target="_blank">
                                                    Click here to download the previous Reference you uploaded</a>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% if (req.session.progressingCV !=null && req.session.progressingCV.company.length>0 && workStartDateData[1]!=null) {%>
                            <% var i; for(i=1; i<req.session.progressingCV.company.length; i++ ) { %>
                        <div class="py-3"></div>
                        <div id='workData<%=i+1%>' class='container workField'>
                            <div class='row justify-content-center'>
                                <div class='col-sm-12 col-xl-10 col-lg-12 col-md-12'>
                                    <div class='card o-hidden border-0'>
                                        <div class='row'>
                                            <div class='col-sm-12 col-lg-6'>
                                                <div class="py-2"></div> Company
                                                <input type='text' name='CV[company]' class='form-control form-control-user'
                                                value="<%=req.session.progressingCV.company[i]%>">
                                            </div>
                                            <div class='col-sm-12 col-lg-6'>
                                                <div class="py-2"></div> Title / Position
                                                <input type='text' name='CV[position]' class='form-control form-control-user'
                                                value="<%=req.session.progressingCV.position[i]%>">
                                            </div>
                                            <div class='col-sm-12 col-lg-3'> 
                                                <div class="py-2"></div> Start Date
                                                <input type='date' name='CV[workStartDate]' class='form-control form-control-user'
                                                value="<%=req.session.progressingCV.workStartDate[i]%>">
                                            </div>
                                            <div class='col-sm-12 col-lg-3'>
                                                <div class="py-2"></div> End Date
                                                <input id='workEndDate<%=i+1%>' name='CV[workEndDate]' class='form-control form-control-user'
                                                type="<% if(req.session.progressingCV.inJob[i] == true || req.session.progressingCV.workEndDate[i] == 'Until NOW'){ %>text<% }else{ %>date<% } %>" 
                                                value="<%=req.session.progressingCV.workEndDate[i]%>" <% if (req.session.progressingCV.inJob[i] == true || req.session.progressingCV.workEndDate[i] == 'Until NOW'){ %> readOnly <% } %>>
                                            </div>
                                            <div class='col-sm-12 col-lg-3'>
                                                <div class="py-4"></div>
                                                <input value='workEndDate<%=i+1%>' type='checkbox' name='CV[inJob]' onclick='checkEndDateBox()'
                                                <% if(req.session.progressingCV.inJob[i] == true || req.session.progressingCV.workEndDate[i] == 'Until NOW'){ %> checked <% } %>>
                                                <span>Still in this job right now?</span>
                                            </div>
                                            <div class='col-sm-12 col-lg-12'>
                                                <div class="py-3"></div>Description About The Job
                                                <input type='text' name='CV[workDescription]' class='form-control form-control-user'
                                                value="<%=req.session.progressingCV.workDescription[i]%>">
                                            </div>
                                            <div class='col-sm-12 col-lg-12'>
                                                <div class="py-2"></div> Reference Letter
                                                <input type="file" accept="image/*,application/pdf" class="form-control form-control-user py-1" onchange="uploadFile()">
                                                <input type="hidden" id="reference<%=i+1%>" name="CV[reference]"
                                                value="<%=req.session.progressingCV.reference[i]%>"> 
                                                <% if(req.session.progressingCV.reference[i] !='') { %>
                                                <a style="color: #4ab6a4" download="reference_<%=i+1%>" href="<%=req.session.progressingCV.reference[i]%>" target="_blank">
                                                Click here to download the previous Reference you uploaded</a>
                                                <% } %>
                                            </div>
                                            <div class='col-lg-12 col-sm-12'>
                                                <button value='workData<%=i+1%>' type='button' class='btn btn-link' style='color: red; float: right' onclick='deleteData()'> - Remove this field </button>
                                            </div>
                                            <div class='py-3'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } } %>
                        
                        <div id="workBtn" class="container">    
                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-xl-10 col-lg-12 col-md-12">
                                    <button type="button" class="btn btn-link" onclick="addData('work')">+ More Work
                                        Experiences</button>
                                </div>
                            </div>
                        </div>
                        <!-- End of Work Experience -->


                        <!-- Skill -->
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-xl-10 col-lg-12 col-md-12">
                                    <div class="card o-hidden border-0">
                                        <div class="py-5"></div>
                                        <h3 style="color: #a570a7">🔧 Skill</h3>
                                        <div class="row py-4">

                                            <div class="col-sm-12 col-lg-12">
                                                Typing (If any)
                                                <br>
                                                <span style="color: red; font-size: 3px;">**Please use the <b>","</b> to
                                                    separate each of the skill and the format <b>[Skill]:[Percentage]</b> to indicate the skill and how familiar you are with that skill
                                                </span>
                                                <input type="text" id="typingSkill" name="CV[typingSkill]"
                                                    class="form-control form-control-user" onchange="checkSkill('typingSkill')"
                                                    placeholder="E.g. Chinese Typing:90,Engish Typing:80"
                                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.typingSkill%>" <%}%>>
                                            </div>

                                            <div class="col-sm-12 col-lg-12 py-4">
                                                Coding (If any)
                                                <br>
                                                <span style="color: red; font-size: 3px;">**Please use the <b>","</b> to
                                                    separate each of the skill and the format <b>[Skill]:[Percentage]</b> to indicate the skill and how familiar you are with that skill
                                                </span>
                                                <input type="text" id="codingSkill" name="CV[codingSkill]"
                                                    class="form-control form-control-user" onchange="checkSkill('codingSkill')"
                                                    placeholder="E.g. HTML:75,Javascript:60"
                                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.codingSkill%>" <%}%>>
                                            </div>

                                            <div class="col-sm-12 col-lg-12">
                                                Software (If any)
                                                <br>
                                                <span style="color: red; font-size: 3px;">**Please use the <b>","</b> to
                                                    separate each of the skill and the format <b>[Skill]:[Percentage]</b> to indicate the skill and how familiar you are with that skill
                                                </span>
                                                <input type="text" id="softwareSkill" name="CV[softwareSkill]"
                                                    class="form-control form-control-user" onchange="checkSkill('softwareSkill')"
                                                    placeholder="E.g. MS Office:100,Photoshop:50"
                                                    <% if(req.session.progressingCV !=null) {%>value="<%=req.session.progressingCV.softwareSkill%>" <%}%>>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Skill -->


                        <!-- Language -->
                        <div id="languageData1" class="container languageField">
                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-xl-10 col-lg-12 col-md-12">
                                    <div class="card o-hidden border-0">
                                        <div class="py-5"></div>
                                        <h3 style="color: #a570a7">🌎 Language</h3>
                                        <div class="row py-2">

                                            <div class="col-sm-12 col-lg-4">
                                                <div class="py-2"></div>
                                                Name
                                                <input type="text" name="CV[name]" class="form-control form-control-user"
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.name!= null) { 
                                                    var name = req.session.progressingCV.name + '';
                                                    var nameData = name.split(",");
                                                    if(nameData[1] != null) {%>
                                                    value="<%=req.session.progressingCV.name[0]%>" <%} else {%>
                                                    value="<%=req.session.progressingCV.name%>" <% } } %>
                                                required>
                                            </div>

                                            <div class="col-sm-12 col-lg-3">
                                                <div class="py-2"></div>
                                                Level
                                                <select class="form-control" name="CV[level]" required>
                                                    <option value='Native' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.level[0] == 'Native' || req.session.progressingCV.level == 'Native') {%> selected <%}}%>>Native</option>
                                                    <option value='Advance' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.level[0] == 'Advance' || req.session.progressingCV.level == 'Advance') {%> selected <%}}%>>Advance</option>
                                                    <option value='Good' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.level[0] == 'Good' || req.session.progressingCV.level == 'Good') {%> selected <%}}%>>Good</option>
                                                    <option value='Intermediate' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.level[0] == 'Intermediate' || req.session.progressingCV.level == 'Intermediate') {%> selected <%}}%>>Intermediate</option>
                                                    <option value='Basic' <% if(req.session.progressingCV !=null){ if(req.session.progressingCV.level[0] == 'Basic' || req.session.progressingCV.level == 'Basic') {%> selected <%}}%>>Basic</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-12 col-lg-5">
                                                <div class="py-2"></div>
                                                Certificate (If any)
                                                <input type="file" accept="image/*,application/pdf" class="form-control form-control-user py-1" onchange="uploadFile()">
                                                <input type="hidden" id="lanCertificate1" name="CV[lanCertificate]"
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.lanCertificate[0]!='' && req.session.progressingCV.lanCertificate!='') {
                                                    var lanCertificate = req.session.progressingCV.lanCertificate  + '';
                                                    var lanCertificateData = lanCertificate.split(",");
                                                    if(lanCertificateData[1] != null) {%>
                                                    value="<%=req.session.progressingCV.lanCertificate[0]%>" <%} else {%>
                                                    value="<%=req.session.progressingCV.lanCertificate%>" <% } } %>>
                                                <% if(req.session.progressingCV !=null && req.session.progressingCV.lanCertificate!='' && req.session.progressingCV.lanCertificate[0]!='') {%>
                                                <a style="color: #4ab6a4" download="language_1_certificate" <% if(lanCertificateData[1] != null) {%>
                                                    href="<%=req.session.progressingCV.lanCertificate[0]%>"<% } else {%> 
                                                    href="<%=req.session.progressingCV.lanCertificate%>" <% } %> target="_blank">
                                                    Click here to download the previous Certificate you uploaded</a>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% if (req.session.progressingCV !=null && req.session.progressingCV.name.length>0 && nameData[1] != null) {%>
                            <% var i; for(i=1; i<req.session.progressingCV.name.length; i++ ) { %>
                        <div id='languageData<%=i+1%>' class='container languageField'>
                            <div class='row justify-content-center'>
                                <div class='col-sm-12 col-xl-10 col-lg-12 col-md-12'>
                                    <div class='card o-hidden border-0'>
                                        <div class='row'>
                                            <div class='col-sm-12 col-lg-4'>
                                                <div class="py-2"></div> Name 
                                                <input type='text' name='CV[name]' class='form-control form-control-user' 
                                                value="<%=req.session.progressingCV.name[i]%>" required>
                                            </div>
                                            <div class='col-sm-12 col-lg-3'>
                                                <div class="py-2"></div> Level 
                                                <select class='form-control' name='CV[level]' 
                                                value="<%=req.session.progressingCV.level[i]%>" required>
                                                    <option value='Native' <% if(req.session.progressingCV.level[i] == 'Native') {%> selected <%}%>>Native</option>
                                                    <option value='Advance' <% if(req.session.progressingCV.level[i] == 'Advance') {%> selected <% } %>>Advance</option> 
                                                    <option value='Good' <% if(req.session.progressingCV.level[i] == 'Good') {%> selected <% } %>>Good</option>
                                                    <option value='Intermediate' <% if(req.session.progressingCV.level[i] == 'Intermediate') {%> selected <% } %>>Intermediate</option>
                                                    <option value='Basic' <% if(req.session.progressingCV.level[i] == 'Basic') {%> selected <% } %>>Basic</option>
                                                </select>
                                            </div>
                                            <div class='col-sm-12 col-lg-5'>
                                                <div class="py-2"></div> Certificate (If any)
                                                <input type="file" accept="image/*,application/pdf" class="form-control form-control-user py-1" onchange="uploadFile()">
                                                <input type="hidden" id="lanCertificate<%=i+1%>" name="CV[lanCertificate]"
                                                value="<%=req.session.progressingCV.lanCertificate[i]%>"> 
                                                <% if(req.session.progressingCV.lanCertificate[i] !='') { %>
                                                <a style="color: #4ab6a4" download="language_<%=i+1%>_certificate" href="<%=req.session.progressingCV.lanCertificate[i]%>" target="_blank">
                                                Click here to download the previous Certificate you uploaded</a>
                                                <% } %>
                                            </div>
                                            <div class='col-lg-12 col-sm-12'>
                                                <button value='languageData<%=i+1%>' type='button' class='btn btn-link' style='color: red; float: right' onclick='deleteData()'> - Remove this field </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } } %>

                        <div class="py-2"></div>
                        <div id="lanBtn" class="container">
                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-xl-10 col-lg-12 col-md-12">
                                    <button type="button" class="btn btn-link" onclick="addData('language')">+ More
                                        Languages</button>
                                </div>
                            </div>
                        </div>
                        <!-- End of Language -->


                        <div class="container">
                            <div class="row py-4" style="float: right;">
                                <div class="col-sm-12" style="float: right;">
                                <button type="button" class="btn btn-danger" onclick="saveData()">SAVE</button> 
                                <button type="submit" class="btn pink-btn ml-4">NEXT</button>
                                <div class="py-2"></div>
                            </div>
                        </div>
        </div>
    </form>
</div>


<script>
    ////////update sessionStorage before enter to the page
    window.onload = function () {
        sessionStorage.setItem('numEduField', document.getElementsByClassName('eduField').length);
        sessionStorage.setItem('numWorkField', document.getElementsByClassName('workField').length);
        sessionStorage.setItem('numLanField', document.getElementsByClassName('languageField').length);
        if (response.session.progressingCV != null) {
            document.getElementById('step1Modal').style = 'none';
        }
        console.log(sessionStorage)
    }
    ////////

    ///////for close step1 modal
    function closeStep1Modal() {
        var modal = document.getElementById('step1Modal');
        var content = document.getElementById("content");
        var topbar = document.getElementById("topbar");
        modal.style.display = 'none';
        content.style.opacity = '';
        topbar.style.opacity = '';
    }
    ///////


    ///////for upload profile
    function uploadProfile(files) {
        const file = files[0];

        if (!file.type.startsWith('image/')) return;

        var reader = new FileReader();

        reader.onload = function (e) {
            alert(e.target.result)
            document.getElementById("profile").value = e.target.result;
        }
        reader.readAsDataURL(file);
    }
    ///////


    ///////for upload certificate / reference
    function uploadFile() {
        alert(event.target.nextElementSibling.id)
        const fieldID = event.target.nextElementSibling.id;
        const file = event.target.files[0];

        if (!file.type.startsWith('image/') && !file.type == 'application/pdf') return;

        var reader = new FileReader();

        reader.onload = function (e) {
            alert(e.target.result)
            document.getElementById(fieldID).value = e.target.result;

        }
        reader.readAsDataURL(file);
    }
    ///////


    ////////add more fied
    function addData(data) {
        if (data == "education") {
            var currentEduField = parseInt(sessionStorage.getItem('numEduField'), 10);
            var idnumForNewField = currentEduField + 1;
            sessionStorage.setItem('numEduField', idnumForNewField);
            document.getElementById('eduBtn').insertAdjacentHTML('beforebegin', "<div id='eduData" + idnumForNewField + "' class='container eduField'> <div class='row justify-content-center'>  <div class='col-sm-12 col-xl-10 col-lg-12 col-md-12'> <div class='card o-hidden border-0'> <div class='row'> <div class='col-sm-12 col-lg-12'> <div class='py-3'></div> Name Of The School / Institution <input type='text' name='CV[school]' class='form-control form-control-user' required> </div> <div class='col-sm-12 col-lg-4'><div class='py-2'></div> Start Date <input type='date' name='CV[eduStartDate]' class='form-control form-control-user' required> </div> <div class='col-sm-12 col-lg-4'><div class='py-2'></div> End Date (or Expected End Date) <input type='date' name='CV[eduEndDate]' class='form-control form-control-user' required> </div>  <div class='col-sm-12 col-lg-4'><div class='py-2'></div> Major <input type='text' name='CV[major]' class='form-control form-control-user' required> </div> <div class='col-sm-12 col-lg-6'><div class='py-2'></div> Degree / Level <select class='form-control' name='CV[degree]' required> <option value='Professional Degree'>Professional Degree</option> <option value='Doctoral Degree'>Doctoral Degree</option> <option value='Master Degree'>Master Degree</option> <option value='Bachelor Degree'>Bachelor Degree</option> <option value='Associate Degree'>Associate Degree</option> <option value='Graduate'>Graduate</option> <option value='In Progress'>In Progress</option> </select> </div> <div class='col-sm-12 col-lg-6'><div class='py-2'></div> CGPA / Result <input type='text' name='CV[mark]' class='form-control form-control-user' required> </div> <div class='col-sm-12 col-lg-12'><div class='py-2'></div> Others About The School / Institution (If any) <input type='text' name='CV[eduDescription]' class='form-control form-control-user'> </div> <div class='col-sm-12 col-lg-12'> <div class='py-2'></div> Certificate (If any)  <input type='file' accept='image/*,application/pdf' class='form-control form-control-user py-1' onchange='uploadFile()'> <input type='hidden' id='eduCertificate" + idnumForNewField + "' name='CV[eduCertificate]'> </div> <div class='col-lg-12 col-sm-12'> <button value='eduData" + idnumForNewField + "' type='button' class='btn btn-link' style='color: red; float: right;' onclick='deleteData()'> - Remove this field </button> </div> <div class='py-3'></div> </div> </div> </div> </div> </div>")
        } else if (data == "work") {
            var currentWorkField = parseInt(sessionStorage.getItem('numWorkField'), 10);
            var idnumForNewField = currentWorkField + 1;
            sessionStorage.setItem('numWorkField', idnumForNewField);
            document.getElementById('workBtn').insertAdjacentHTML('beforebegin', "<div id='workData" + idnumForNewField + "' class='container workField'> <div class='row justify-content-center'> <div class='col-sm-12 col-xl-10 col-lg-12 col-md-12'> <div class='card o-hidden border-0'> <div class='row'> <div class='col-sm-12 col-lg-6'> <div class='py-2'></div> Company <input type='text' name='CV[company]' class='form-control form-control-user'> </div> <div class='col-sm-12 col-lg-6'> <div class='py-2'></div> Title / Position <input type='text' name='CV[position]' class='form-control form-control-user'> </div> <div class='col-sm-12 col-lg-3'> <div class='py-2'></div> Start Date <input type='date' name='CV[workStartDate]' class='form-control form-control-user'> </div> <div class='col-sm-12 col-lg-3'> <div class='py-2'></div> End Date <input id='workEndDate" + idnumForNewField + "' type='date' name='CV[workEndDate]' class='form-control form-control-user'> </div> <div class='col-sm-12 col-lg-3'> <div class='py-4'></div> <input value='workEndDate" + idnumForNewField + "' type='checkbox' name='CV[inJob]' onclick='checkEndDateBox()'> <span>Still in this job right now?</span> </div> <div class='col-sm-12 col-lg-12'> <div class='py-3'></div> Description About The Job <input type='text' name='CV[workDescription]' class='form-control form-control-user'> </div> <div class='col-sm-12 col-lg-12'> <div class='py-2'></div> Reference Letter  <input type='file' accept='image/*,application/pdf' class='form-control form-control-user py-1' onchange='uploadFile()'> <input type='hidden' id='reference" + idnumForNewField + "' name='CV[reference]'> </div> <div class='col-lg-12 col-sm-12'> <button value='workData" + idnumForNewField + "' type='button' class='btn btn-link' style='color: red; float: right' onclick='deleteData()'> - Remove this field </button>  </div> <div class='py-3'></div> </div> </div> </div> </div> </div>")
        } else if (data == "language") {
            var currentLanField = parseInt(sessionStorage.getItem('numLanField'), 10);
            var idnumForNewField = currentLanField + 1;
            sessionStorage.setItem('numLanField', idnumForNewField);
            document.getElementById('lanBtn').insertAdjacentHTML('beforebegin', "<div id='languageData" + idnumForNewField + "' class='container languageField'> <div class='row justify-content-center'> <div class='col-sm-12 col-xl-10 col-lg-12 col-md-12'> <div class='card o-hidden border-0'> <div class='row'> <div class='col-sm-12 col-lg-4'> <div class='py-2'></div> Name <input type='text' name='CV[name]' class='form-control form-control-user' required> </div> <div class='col-sm-12 col-lg-3'> <div class='py-2'></div> Level <select class='form-control' name='CV[level]' value='' required>  <option value='Native'>Native</option> <option value='Advance'>Advance</option> <option value='Good'>Good</option> <option value='Intermediate'>Intermediate</option> <option value='Basic'>Basic</option> </select> </div> <div class='col-sm-12 col-lg-5'> <div class='py-2'></div> Certificate (If any) <input type='file' accept='image/*,application/pdf' class='form-control form-control-user py-1' onchange='uploadFile()'> <input type='hidden' id='lanCertificate" + idnumForNewField + "' name='CV[lanCertificate]'> </div> <div class='col-lg-12 col-sm-12'> <button value='languageData" + idnumForNewField + "' type='button' class='btn btn-link' style='color: red; float: right' onclick='deleteData()'> - Remove this field </button> </div> </div> </div> </div> </div> </div>")
        }
    }
    ////////


    ///////make workEndDate disable due to work until now
    function checkEndDateBox() {
        var currentEndDateField = event.target.value;
        if (event.target.checked == true) {
            document.getElementById(currentEndDateField).readOnly = 'true';
            document.getElementById(currentEndDateField).type = 'text';
            document.getElementById(currentEndDateField).value = 'Until NOW';
        } else {
            document.getElementById(event.target.value).readOnly = '';
            document.getElementById(currentEndDateField).type = 'date';
        }
        
    }
    ////////


    ////////delete new added field
    function deleteData() {
        var deleteField = event.target.value;
        alert(deleteField)
        document.getElementById(deleteField).remove();
    }
    ////////


    //////// for save
    async function saveData() {
        var schoolArray = [];
        var schoolList = document.getElementsByName('CV[school]');
        var i;
        for (i = 0; i < schoolList.length; i++) {
            schoolArray.push(schoolList[i].value);
        }

        var eduStartDateArray = [];
        var eduStartDateList = document.getElementsByName('CV[eduStartDate]');
        var i;
        for (i = 0; i < eduStartDateList.length; i++) {
            eduStartDateArray.push(eduStartDateList[i].value);
        }

        var eduEndDateArray = [];
        var eduEndDateList = document.getElementsByName('CV[eduEndDate]');
        var i;
        for (i = 0; i < eduEndDateList.length; i++) {
            eduEndDateArray.push(eduEndDateList[i].value);
        }
        
        var majorArray = [];
        var majorList = document.getElementsByName('CV[major]');
        var i;
        for (i = 0; i < majorList.length; i++) {
            majorArray.push(majorList[i].value);
        }

        var degreeArray = [];
        var degreeList = document.getElementsByName('CV[degree]');
        var i;
        for (i = 0; i < degreeList.length; i++) {
            degreeArray.push(degreeList[i].value);
        }
       
        var markArray = [];
        var markList = document.getElementsByName('CV[mark]');
        var i;
        for (i = 0; i < markList.length; i++) {
            markArray.push(markList[i].value);
        }

        var eduDescriptionArray = [];
        var eduDescriptionList = document.getElementsByName('CV[eduDescription]');
        var i;
        for (i = 0; i < eduDescriptionList.length; i++) {
            eduDescriptionArray.push(eduDescriptionList[i].value);
        }

        var eduCertificateArray = [];
        var eduCertificateList = document.getElementsByName('CV[eduCertificate]');
        var i;
        for (i = 0; i < eduCertificateList.length; i++) {
            eduCertificateArray.push(eduCertificateList[i].value);
        }
        // alert(eduCertificateArray)


        var companyArray = [];
        var companyList = document.getElementsByName('CV[company]');
        var i;
        for (i = 0; i < companyList.length; i++) {
            companyArray.push(companyList[i].value);
        }

        var positionArray = [];
        var positionList = document.getElementsByName('CV[position]');
        var i;
        for (i = 0; i < positionList.length; i++) {
            positionArray.push(positionList[i].value);
        }

        var workStartDateArray = [];
        var workStartDateList = document.getElementsByName('CV[workStartDate]');
        var i;
        for (i = 0; i < workStartDateList.length; i++) {
            workStartDateArray.push(workStartDateList[i].value);
        }

        var workEndDateArray = [];
        var workEndDateList = document.getElementsByName('CV[workEndDate]');
        var i;
        for (i = 0; i < workEndDateList.length; i++) {
            workEndDateArray.push(workEndDateList[i].value);
        }

        var inJobArray = [];
        var inJobList = document.getElementsByName('CV[inJob]');
        var i;
        for (i = 0; i < inJobList.length; i++) {
            inJobArray.push(inJobList[i].checked);
        }

        var workDescriptionArray = [];
        var workDescriptionList = document.getElementsByName('CV[workDescription]');
        var i;
        for (i = 0; i < workDescriptionList.length; i++) {
            workDescriptionArray.push(workDescriptionList[i].value);
        }

        var referenceArray = [];
        var referenceList = document.getElementsByName('CV[reference]');
        var i;
        for (i = 0; i < referenceList.length; i++) {
            referenceArray.push(referenceList[i].value);
        }
        //alert(referenceArray)



        var nameArray = [];
        var nameList = document.getElementsByName('CV[name]');
        var i;
        for (i = 0; i < nameList.length; i++) {
            nameArray.push(nameList[i].value);
        }

        var levelArray = [];
        var levelList = document.getElementsByName('CV[level]');
        var i;
        for (i = 0; i < levelList.length; i++) {
            levelArray.push(levelList[i].value);
        }

        var lanCertificateArray = [];
        var lanCertificateList = document.getElementsByName('CV[lanCertificate]');
        var i;
        for (i = 0; i < lanCertificateList.length; i++) {
            lanCertificateArray.push(lanCertificateList[i].value);
        }

        var data = JSON.stringify({
            chiName: document.getElementById('chiName').value,
            engName: document.getElementById('engName').value,
            nickname: document.getElementById('nickname').value,
            sex: document.getElementById('sex').value,
            birth: document.getElementById('birth').value,
            countryCode: document.getElementById('countryCode').value,
            phone: document.getElementById('phone').value,
            email: document.getElementById('email').value,
            personWebLink: document.getElementById('personWebLink').value,
            address: document.getElementById('address').value,
            occupation: document.getElementById('occupation').value,
            jobArea: document.getElementById('jobArea').value,
            objective: document.getElementById('objective').value,
            profile: document.getElementById('profile').value,
            school: schoolArray,
            eduStartDate: eduStartDateArray,
            eduEndDate: eduEndDateArray,
            major: majorArray,
            degree: degreeArray,
            mark: markArray,
            eduDescription: eduDescriptionArray,
            eduCertificate: eduCertificateArray,
            company: companyArray,
            position: positionArray,
            workStartDate: workStartDateArray,
            workEndDate: workEndDateArray,
            inJob: inJobArray,
            workDescription: workDescriptionArray,
            reference: referenceArray,
            typingSkill: document.getElementById('typingSkill').value,
            codingSkill: document.getElementById('codingSkill').value,
            softwareSkill: document.getElementById('softwareSkill').value,
            name: nameArray,
            level: levelArray,
            lanCertificate: lanCertificateArray
        });

        var response = await fetch("/cv/saveData", {
            method: "POST",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: data
        });

        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        } else {
            alert(response.statusText);
        }
    }
    ////////


   ////////check whether the skill are in correct format
   function checkSkill(skillID) {
        var skill = document.getElementById(skillID).value;
        var i, j;
        var typedSkill = [];

        if (skill != '') {
            //extract each skill & percentage
            var mutiSkill = skill.split(',');
            for (i = 0; i < mutiSkill.length; i++) {
                var skill_percent = mutiSkill[i].split(':');

                for (j = 0; j < skill_percent.length; j++) {
                    typedSkill.push(skill_percent[j]);
                }
            }
            //

            for (i = 0; i < typedSkill.length; i++) {
                //check whether each skill have percentage and vise verse 
                if (typedSkill[i] == '' || typedSkill.length % 2 != 0) {
                    alert("⚠️ Please ensure the format typed in 'Skill' is correct ⚠️");
                    document.getElementById(skillID).value = '';
                    return;
                }
                //check the percentage part
                if (i % 2 != 0) {
                    //check whether only digital contain
                    for (j = 0; j < typedSkill[i].length; j++) {
                        if (typedSkill[i].charAt(j) >= '0' && typedSkill[i].charAt(j) <= '9') {
                            continue;
                        }
                        else {
                            alert("⚠️ Please ensure the format typed in 'Skill' is correct ⚠️");
                            document.getElementById(skillID).value = '';
                            return;
                        }
                    }
                    //
                }
                //
            }
        }
    }
    ////////
</script>