<div class="py-3"></div>

<div class="container-fluid container">
    <!-- Page Heading -->
    <span class="h1">User List</span>
    <hr class="sidebar-divider">
    <div class="py-2"></div>

    <!-- search field -->
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <input id="searchInput" type="text" class="form-control form-control-user" placeholder="ðŸ” Search..."
                onkeyup="search()">
        </div>
    </div>
    <div class="py-2"></div>


    <!-- user list table -->
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" style="width: 100%;" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Profile</th>
                    <th>Email Address</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach( function(user) {%>
                    <tr class="user_row">
                        <td class="userlist_content">
                            <%=user.id%>
                        </td>
                        <td class="text-center">
                            <img class="img-profile rounded-circle" style="width: auto; height: 50px;"
                                <%if(user.profile=='' ) {%>src="/images/avatar.png"
                            <%}else{%>src="<%=user.profile%>"<%}%>>
                        </td>
                        <td class="userlist_content">
                            <%=user.email%>
                        </td>
                        <td class="userlist_content">
                            <%=user.firstName%>
                        </td>
                        <td class="userlist_content">
                            <%=user.lastName%>
                        </td>
                        <td>
                            <a class="admin-action-btn btn purple-btn" href="/user/info/<%=user.id%>">Edit</a>
                            <button id="deleteBtn" type="button" class="admin-action-btn btn btn-danger"
                                onclick="showDeleteAlert('<%=user.id%>')">Delete</button>
                        </td>
                    </tr>


                    <!-- Delete Modal-->
                    <div class="animate__animated animate__fadeIn center" style="display:none; z-index: 1;"
                        id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm to Delete this User?</h5>
                                </div>
                                <div class="modal-body">You cannot retrieve this user's account once you delete it.
                                </div>
                                <div class="modal-footer">
                                    <button id="alert-cancel" class="btn btn-secondary" type="button"
                                        onclick="showDeleteAlert('<%=user.id%>')" data-dismiss="modal">Cancel</button>
                                    <button id="alert-delete" class="btn btn-danger" type="button"
                                        onclick="deleteUser()" data-dismiss="modal">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Delete Modal -->

                    <% }) %>
            </tbody>
        </table>
    </div>
    <!-- End of user list table -->
</div>


<script>
    ///////for search
    function search() {
        //get the search word
        var input = document.getElementById("searchInput").value.toUpperCase();

        //get all the user row
        var user_row = document.querySelectorAll(".user_row");

        //for each of the user row
        for (j = 0; j < user_row.length; j++) {
            //get the user data (array)
            var user_data = user_row[j].querySelectorAll(".userlist_content");
            //for counting the user data length
            var i = 0;
            //for judging when to stop the loop
            var show = false;

            while (i < user_data.length && show == false) {
                if (user_data[i].innerText.toUpperCase().indexOf(input) > -1) {
                    user_row[j].style.display = "";
                    show = true;
                } else {
                    user_row[j].style.display = "none";
                    i++;
                }
            }
        }
    };
    ///////


    ///////for showing delete alert
    function showDeleteAlert(id) {
        var deleteAlert = document.getElementById('deleteModal');
        if (deleteAlert.style.display == '') {
            //when cancel, the delete btn value should be clear for use next time
            document.getElementById('deleteBtn').value = '';
            deleteAlert.style.display = 'none';
        } else {
            //store that user id as delete btn value for distinguish which user is going to be deleted
            document.getElementById('deleteBtn').value = id;
            deleteAlert.style.display = '';
        }
    };
    ///////

    /////// for delete user account
    async function deleteUser() {
        var id = document.getElementById('deleteBtn').value;
        var response = await fetch("/deleteUser/" + id, {
            method: "DELETE",
            credentials: 'same-origin',
        });

        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        } else {
            alert(response.statusText);
        }
    }
    ////////
</script>